html
	head
		title CodeLight Development Environment

		link(rel='stylesheet', href='http://#{loc}/css/display.css')
		link(rel='icon', href='http://#{loc}/favicon.ico')

		script(rel='text/javascript', src='http://#{loc}/socket.io/socket.io.js')
		script(rel='text/javascript', src='http://localhost:35729/livereload.js')

	body
		div#header
			a(href="http://#{loc}/")
				div.section.left
					h1 CodeLight
			if logged
				div.section.right
					div.userInfo
						img.userImage(src="#{userImage}")
						span.userName #{username}
				div.section.right
					a(href="/new")
						svg.icon
							use(xlink:href="http://#{loc}/icons.svg#shape-new")
			else
				div.section.right
					a(href="/auth")
						svg.icon
							use(xlink:href="http://#{loc}/icons.svg#shape-user2")


		div#holder
			div.preview
				iframe(src='http://#{loc}/s/#{snid}' tabindex='-1')
				a(href="http://#{loc}/c/#{snid}") Edit
				a(href="http://#{loc}/s/#{snid}") View
				h2 #{snippet.title}
				p #{snippet.desc}
				
				div
					img(src="#{poster.profile_image_url}")
					h3 #{poster.screen_name}
