html
	head
		title CodeLight Development Environment


		link(rel='stylesheet', href='http://#{loc}/gallery/style.css')
		link(rel='icon', href='http://#{loc}/favicon.ico')

		script(rel='text/javascript', src='http://#{loc}/socket.io/socket.io.js')
		script(rel='text/javascript', src='http://localhost:35729/livereload.js')


	body
		div#header
			div.headSec
				h1 CodeLight
			div.headSec.right
				svg(class="icon")
					use(xlink:href="icons.svg#shape-user2")
			div.headSec.right
				svg(class="icon")
					use(xlink:href="icons.svg#shape-new")
			//-
				div.headSec.createNew
					form(id='newSnippet' action='/c/' method='post')
						input(name='title' type='text' placeholder='New Snippet')
					div.createButton
						svg(class="icon newButton")
							use(xlink:href="icons.svg#shape-new")


		div#holder
			-each item in items
				a(href='http://#{loc}/c/#{item.title}')
					div.container.thumb
						iframe(src='http://#{loc}/s/#{item.title}')
						div.caption= item.title

		div#footer
			div.section
				svg(class="icon shape-user")
					use(xlink:href="icons.svg#shape-user")
				| #{userCount}
