html
	head
		title CodeLight Development Environment

		link(rel='stylesheet', href='http://#{loc}/gallery/style.css')
		link(rel='icon', href='http://#{loc}/favicon.ico')

		script(rel='text/javascript', src='http://#{loc}/socket.io/socket.io.js')
		script(rel='text/javascript', src='http://localhost:35729/livereload.js')

	body
		div#header
			div.headSec.left
				h1 CodeLight
			if logged
				div.headSec.right
					div.userInfo
						img.userImage(src="#{userImage}")
						span.userName #{username}
				div.headSec.right
					a(href="/new")
						svg.icon
							use(xlink:href="icons.svg#shape-new")
			else
				div.headSec.right
					a(href="/auth")
						svg.icon
							use(xlink:href="icons.svg#shape-user2")


		div#holder
			-each item in items
				a(href='http://#{loc}/c/#{item.id}')
					div.container
						div.thumb
							iframe(src='http://#{loc}/s/#{item.id}' tabindex='-1')
						div.info
							div.title= item.title
							div.username Username
							div.caption= item.desc

		div#footer
			div.section
				svg.icon.shape-user
					use(xlink:href="icons.svg#shape-user")
				| #{userCount}
