html
	head
		title Test IDE


		link(rel='stylesheet', href='http://#{loc}/ide/style.css')
		link(rel='icon', href='http://#{loc}/favicon.ico')

		script(rel='text/javascript', src='http://#{loc}/socket.io/socket.io.js')
		script(rel='text/javascript', src='http://#{loc}/ace/ace.js')
		script(rel='text/javascript', src='http://#{loc}/ace/ext-language_tools.js')

		script(rel='text/javascript', src='http://#{loc}/ide/core.js')
		script(rel='text/javascript', src='http://localhost:35729/livereload.js')


	body
			div#header
				if logged
					div.section.right
						div.userInfo
							img.userImage(src="#{userImage}")
							span.userName #{username}
					div.section.right
						a(href="/new")
							svg.icon
								use(xlink:href="http://#{loc}/icons.svg#shape-new")
				else
					div.section.right
						a(href="/auth")
							svg.icon
								use(xlink:href="http://#{loc}/icons.svg#shape-user2")
								
								
				div.section
					a(href='http://#{loc}')
						svg.icon
							use(xlink:href="http://#{loc}/icons.svg#shape-back") < Back
					a(href='http://#{loc}/delete/#{snid}') Delete
					
				div.section
					form#details
						input(type='text' placeholder='Title' name='title' value='#{title}')
						input(type='text' placeholder='Description' name='desc' value='#{desc}')
						

			div#holder.ide
				pre#editor(snid='#{snid}').
					#{snippet}
				iframe#display(frameborder=0 scrolling='no')


			div#cursorHold
