html
	head
		title Test IDE


		link(rel='stylesheet', href='http://#{loc}/ide/style.css')
		link(rel='icon', href='http://#{loc}/favicon.ico')

		script(rel='text/javascript', src='http://#{loc}/socket.io/socket.io.js')
		script(rel='text/javascript', src='http://#{loc}/ace/ace.js')
		script(rel='text/javascript', src='http://#{loc}/ace/ext-language_tools.js')

		script(rel='text/javascript', src='http://#{loc}/ide/core.js')


	body
		//textarea#in
		iframe#display(height='100%' frameborder=0 scrolling='no')


		pre#editor
