mixin title(title)
  title Codelight - #{title}
 
html
  head
    block scripts
      link(rel='stylesheet', href='http://#{loc}/css/style.css')
      //link(rel='stylesheet', href='http://#{loc}/css/display.css')
      //link(rel='stylesheet', href='http://#{loc}/css/search.css')
      //link(rel='stylesheet', href='http://#{loc}/gallery/style.css')
      link(rel='icon', href='http://#{loc}/favicon.ico')
      script(rel='text/javascript', src='http://#{loc}/js/dep.js')
      script(rel='text/javascript', src='http://localhost:35729/livereload.js')
      script(rel='text/javascript', src='http://#{loc}/socket.io/socket.io.js')
      script(rel='text/javascript', src='http://#{loc}/js/core.js')
    
  body(ng-app='CodeLight')
    block header
      div#header
        div.section.title
          h1
            a(href="http://#{loc}/") CodeLight
        block headerAddition
        if auth.logged
          div.section.menu
            a(href="/new")
              svg.icon
                use(xlink:href="http://#{loc}/icons.svg#shape-new")
            a(href="/groups") 
              svg.icon
                use(xlink:href="http://#{loc}/icons.svg#shape-groups")
            a(href="/search") 
              svg.icon
                use(xlink:href="http://#{loc}/icons.svg#shape-view")
          div.section.user
            div.userInfo
              img.userImage(src="#{auth.user.icon}")
              span.userName #{auth.user.username}
        else
          div.section.right
            a(href="/auth")
              svg.icon
                use(xlink:href="http://#{loc}/icons.svg#shape-user2")
      
    block body
    
    block footer
