var title = Codelight DE
extends includes/structure.jade

block headerAddition
	+title(snippet.title + " by " + poster.screen_name)
	
block append body
	div#Display
		div.preview
			iframe(src='http://#{loc}/s/#{snid}' tabindex='-1')
			a(href="http://#{loc}/c/#{snid}")
				svg.icon
					use(xlink:href="http://#{loc}/icons.svg#shape-edit")
			a(href="http://#{loc}/s/#{snid}")
				svg.icon
					use(xlink:href="http://#{loc}/icons.svg#shape-view")
			a(href='http://#{loc}/delete/#{snid}')
				svg.icon
					use(xlink:href="http://#{loc}/icons.svg#shape-delete")
			h2 #{snippet.title}
			p #{snippet.desc}
			
			div.userCard
				img(src="#{poster.profile_image_url}")
				div.userName #{poster.screen_name}
