var title = Codelight DE
extends includes/structure.jade


block headerAddition
	+title("Development Environment")
	
block append body
		div#Gallery
			-each item in items
				a(href='http://#{loc}/#{item.user.username}/#{item.id}')
					div.container
						div.thumb
							iframe(src='http://#{loc}/s/#{item.id}' tabindex='-1')
						div.info
							div.user
								img.userIcon(src='#{item.user.icon}')
							div.title= item.title
							div.caption= item.desc

	//-	div#footer
			div.section
				svg.icon.shape-user
					use(xlink:href="http://#{loc}/icons.svg#shape-user")
				| #{userCount}
				-//
div test
