extends includes/structure.jade

block append scripts

block headerAddition
	+title("Development Environment")
	
block append body
	div#Gallery(ng-controller='groups' ng-init='')
		div.container
			div.infopane
				h2 Groups
				div Create a new group
				form#newGroup(method="post" action='http://#{loc}/group/new')
					div
						input.field(type="text" ng-change='update()' ng-model='newGroup.title' placeholder="Group Title" name="group[title]")
					div
						input.field(type="text" ng-change='update()' ng-model='newGroup.description' placeholder="Description" name="group[desc]")
					div
						input.button.submit(type="submit" value="Create Group" ng-class="{true:'active', false:'inactive'}[newGroup.active]")
		-each group in groups
			a(href='http://#{loc}/group/#{group.id}')
				div.container
					div.thumb
						if group.snippets.length>0
							iframe(src='http://#{loc}/s/#{group.snippets[0].id}' tabindex='-1')
					div.info
						div.title= group.title
						div.username 
						div.caption= group.desc
