extends includes/structure.jade

block append scripts

block headerAddition
	+title("Development Environment")
	
block append body
	div#holder
		form(method="post" action='http://#{loc}/group/new')
			input(type="text" placeholder="Group Title" name="group[title]")
			input(type="text" placeholder="Description" name="group[desc]")
			input(type="submit")
		-each item in items
			a(href='http://#{loc}/group/#{item.id}')
				div.info
					div.title= item.title
					div.caption= item.desc
					hr

	//-	div#footer
		div.section
			svg.icon.shape-user
				use(xlink:href="http://#{loc}/icons.svg#shape-user")
			| #{userCount}
			-//
