extends includes/structure.jade

block append scripts
	script(rel='text/javascript', src='http://#{loc}/ace/ace.js')
	script(rel='text/javascript', src='http://#{loc}/ace/ext-language_tools.js')

	script(rel='text/javascript', src='http://#{loc}/ide/core.js')

block headerAddition
	+title("Development Environment")
	div.section
		a(href='http://#{loc}/#{snippet.poster.username}/#{snippet.snid}')
			svg.icon
				use(xlink:href="http://#{loc}/icons.svg#shape-back")
	
block append body
	div#IDE.ide(ng-controller='ide')
		pre#editor(snid='#{snippet.snid}' ng-data='#{snippet.snid}' editor) #{snippet.content} 
			test= test
		iframe#display(frameborder=0 scrolling='no')
		
	
	
	div
		if auth.logged
			div(ng-controller='activeUsers')
				div(id='activeUsers')
					div#chatMessages
						div.message(ng-repeat='message in messages')
							img.icon(ng-src='{{message.user.icon}}')
							div.content(parse-url ng-model="message.content") {{message.content}}
							
					div#chatInput
						form(ng-submit='chatSend();')
							input(placeholder='Chat message' type='text' ng-model='message' ng-change='typing();')
						img.userIcon(ng-style='{borderColor: user.color}' ng-src='#{auth.user.icon}')
							
					div.user(ng-repeat='user in users' rel='{{user.username}}')
						img.userIcon(ng-style='{borderColor: user.color}' ng-src='{{user.icon}}')
						
				div#cursorHold()
					div.cursor(ng-repeat='cursor in cursors' ng-style='{ left : cursor.carat.display.pageX, top : cursor.carat.display.pageY, display : block, borderLeftColor : cursor.user.color }')
					div.selection(ng-repeat='cursor in cursors')
						div.selectSect(ng-repeat='box in cursor.select.boxes' ng-style='{ left : box.left, top : box.top, width : box.width, display : block, "background-color" : cursor.user.color }')
						
