extends includes/structure.jade

block append scripts
	script(rel='text/javascript', src='http://#{loc}/ace/ace.js')
	script(rel='text/javascript', src='http://#{loc}/ace/ext-language_tools.js')

	script(rel='text/javascript', src='http://#{loc}/ide/core.js')

block headerAddition
	+title("Development Environment")
	div.section
		a(href='http://#{loc}/#{poster.screen_name}/#{snid}')
			svg.icon
				use(xlink:href="http://#{loc}/icons.svg#shape-back")
	
block append body
	div#IDE.ide
		pre#editor(snid='#{snid}') #{snippet} 
		iframe#display(frameborder=0 scrolling='no')
		
	div#cursorHold
	
	
	div(ng-app='userController')
		div(id='activeUsers' ng-controller='activeUsers')
			div(ng-repeat='user in users' rel='{{user.username}}')
				img(class='userIcon' ng-style='{borderColor: user.color}' src='{{user.icon}}')
